<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
		</dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>icon-blue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-blue</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-dark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-light</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-light</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-purple</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-purple</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-red</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-red</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-teal</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-teal</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-pink</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-pink</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-green</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-green</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-purp</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-purp</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-bear</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-bear</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-cat</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-cat</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-dog</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-dog</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-fox</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-fox</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-penguin</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-penguin</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-shark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-shark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
		</dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>icon-blue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-blue</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-dark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-light</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-light</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-purple</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-purple</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-red</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-red</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-teal</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-teal</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-pink</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-pink</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-green</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-green</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-purp</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-purp</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-bear</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-bear</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-cat</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-cat</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-dog</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-dog</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-fox</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-fox</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-penguin</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-penguin</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>icon-shark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-shark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
